.algolia-react-autocomplete {
    width: 100%;
    font-family: sans-serif;
    position: relative;
    margin-left: 18%;
}

.aa-input-container {
    position: relative;
}

.aa-input-search {
  margin-bottom: 0.1%;
  border-radius: 5px;
  border: 1px solid #fce8e8;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  max-width: 832px;
  max-height: 35px;
  background-color: #fce8e8;
}

.aa-dropdown-menu {
    background-color: #fff;
    width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
}

.aa-suggestion {
    padding: 6px 12px;
    cursor: pointer;
}

.aa-suggestion.selected,
.aa-suggestion:hover {
    color: tomato;
}

.aa-suggestions-category {
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 6px 12px;
    opacity: 0.6;
}

.aa-dropdown-menus {
    display: flex;
}

.aa-dropdown-menu > div {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.aa-empty {
    padding: 6px 12px;
}
