.genericButton {
  width: 85%;
  max-width: 200px;
  background: #D70016;
  padding: 11px;
  border-color: #fff;
  color: #fff;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #D70016;
  border-radius: 20px;
  cursor: pointer;
}

.forceInline {
  width: 600px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.autocompleteInput{
}

.deleteButton {
  background: #D70016;
  border-color: #fff;
  color: #fff;
  text-align: center;
  font-size: 15px;
  border: 1px solid #D70016;
  border-radius: 20px;
  cursor: pointer;

}

.autocompleteColumn {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.autocompleteRow:after {
  content: "";
  display: table;
  clear: both;
}

.removeWorkerButton {
  background: #D70016;
  border-color: #fff;
  color: #fff;
  text-align: center;
  font-size: 15px;
  border: 1px solid #D70016;
  border-radius: 20px;
  cursor: pointer;
}

 .addWorkerButton, .removeTaskButton{
  margin: 0 0 0.3%;
  background: #fc6a6a;
  color: #fff;

  border: 1px solid #fc6a6a;
  border-radius: 5px;
  cursor: pointer;
  width: 800px;
  max-height: 24px;
}
.addTaskButton{
  background: #fff;
  border-color: #D70016;
  color: #D70016;
  text-align: center;
  font-size: 14px;
  border: 1px solid #D70016;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
  width: 398px;
  margin-right: 4px;
  margin-top: 4px;
}
.submitButton{
  background: #D70016;
  border-color: #fff;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border: 1px solid #D70016;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
  width: 398px;
}

.eventDate, .eventPlace, .eventTitle, .eventDescription {
  margin: 0 0 1%;
  position: static;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
  max-width: 800px;
}
.eventDescription {
  min-height: 50px;
  max-height: 200px;
  resize: vertical;
}

.taskTitle, .taskDate {
    margin: 0 0 0.2%;
    background-color: #fce8e8;
    border-radius: 5px;
    border: 1px solid #fce8e8;
    width: 100%;
    max-width: 398px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 4px;
}
.taskTitle {
    margin-right: 4px;
}
.taskDescription {
  margin: 0 0 0.2%;
  max-height: 50px;
  min-height: 50px;
  width: 800px;
  background-color: #fce8e8;
  border-radius: 5px;
  border: 1px solid #fce8e8;
  font-size: 12px;
  text-align: center;
}
